@import 'kiss/normalize.less';
@import 'kiss/obj/reset.less';
@import 'kiss/obj/grids.less';
@import 'kiss/obj/typography.less';
@import 'kiss/obj/navs.less';
@import 'kiss/obj/fonts.less';
@import 'icons.less';
@import 'kiss/obj/mods.less';
@import 'kiss/obj/media.less';
@import 'kiss/obj/lists.less';
@import 'kiss/obj/layout.less';
@import 'kiss/obj/forms.less';
@import 'kiss/obj/buttons.less';
@import 'kiss/examples/gradients.less';
@import 'vars.less';
@import 'perfBar.less';

.testmetruett {

}


html, body {
    -webkit-overflow-scrolling: touch;
    // improves overflow scrolling - eg in scrub bar of audio
}

body {
	position: relative;
	background:  @green;

}


 .wrap {
 	overflow: hidden;
 	background: white;
 	min-height: 100%;
 	margin: auto;
 	width: 100%;
	max-width: 1000px;
	z-index: 20;
	padding-top: @line / 2;
	padding-left: @line / 2;
	zoom: 1;
	clear: both;
	padding-bottom: @line;
 }


.space {
	overflow: hidden;
	margin-bottom: (@line / 2) -1; 
	border-bottom: 1px solid transparent;
}

.space--r {

@media only screen and (max-width: 790px) {	
	overflow: hidden;
	margin-bottom: @line;

	}
}

.half-line {
	padding-top: @line / 2;
}

.space--top {
	margin-top: @line / 2;

}

.space--border {
	border-color: gray;
	padding-bottom: (@line / 2);
}


 /* 
    Gutters
    ========================================================================== */
 


 .gutter {
		margin-right: @line / 2;
}	

 
 @media only screen and (min-width : 940px) {

 	.wrap {
 		padding-left: @line / 2;
 		padding-right: 0;

 		
 	}

	


.gutter--left {
	margin-left: @line;
}

}

.gutter-left-fixed {
	padding-left: @line / 2;
}


.vertical {
	margin-top: @line;
	margin-bottom: @line;
}


/* ==========================================================================
   Layout
   ========================================================================== */

.grid {
	.kiss-obj-grids-float-system ();
}


.grid__item {
	float: left;
	width: 100%;
}

.kiss-obj-grids-fractions ();

.gallery-item,
.inline__item {
	 display:inline-block;
	 vertical-align: top;	 
}

.first {
	clear: left;
}


#main-content {
	max-width: 600px;
	margin: 0 auto;

}

/* 
   comments
   ========================================================================== */




.comment {
	margin-top: @base * 1;
	margin-bottom: @base * 1;
	padding: @base * 1 ;
	border-radius: @base;

}

.comment .icon-wink {
	color: @yellow;
}

.comment .icon-happy{
	color: @blue;
}

.comment .icon-happy2{
	color: rgb(250,20,20);
}

.comment .icon-cool{
	color: @green;
}

.comment .icon-cool2{
	color: @purple;
}


.comment-author-matthew {
	background: lighten(@green, 30%);
}

.comment .icon {
	font-size: 50px;
}



.comment.odd{
	border : @base solid lighten(@yellow, 30%);;
}

.comment.even{
	border: @base solid lighten(@blue, 30%);;
}

.comment.comment-author-matthew {
	background: lighten(@green, 30%);
}
/* 
   Responsive Blocks
   ========================================================================== */
@media only screen and (min-width : 940px) {
/* Styles */



.r-one-third {
.kiss-obj-grids-percent(@fraction : 1 / 3)
	}

.r-two-thirds {
.kiss-obj-grids-percent(@fraction : 2 / 3)
	}			


}

.vanish {
	display: none;
}










@media only screen and (min-width : 710px) {
.r-one-half {
.kiss-obj-grids-percent(@fraction : 1 / 2)
	}

.vanish {
	display: block;
}


}	


.fixed-bottom {
	position: fixed;
	bottom: 0;
	left: 0;
}


/* 
   floats
   ========================================================================== */


.flex {
	overflow: hidden !important;
	
	display: block !important;
	float: none !important;

}

.left {
	float: left;
}

.right {
	float: right;
}

.right--r,
.left--r {
	white-space: nowrap;
}


@media only screen and (min-width: 730px) {

	.right--r {	
		float: right;
	}

	.left--r {	
		float: left;
	}

}


.clear {
	clear: both;
}

.clearleft {
	clear: left;
}

.clearfix {
	.kiss-obj-layout-clearfix ();
}


.col {
	padding-left: @line;
}

.align-right {
	display: block;
	width: 100%;
	text-align: right;
}



/* 
   Positioning
   ========================================================================== */


.abs {
	position: absolute;
}


.off-top {
	top: -100%;
}

.off-right {
	right: -100%;
}

.off-bottom {
	bottom: -100%;
}

.off-left {
	left: -100%;
}




.float-right {
	float: right;
	text-align: right;
}


/* ==========================================================================
   Typography

   ========================================================================== */

body {
	color: #222;
//.mu-overlay (@baseline : @line);
 //.type-check ()
 font-family: "Sanchez, serif";

}

p {
	/* Modern Georgia-based serif stack */
/* Traditional Garamond-based serif stack */
font-family: "Sanchez", serif;

}

.small,
.small p
 {
	font-size: 14px;
	line-height: @base * 3;
	margin-bottom: @base;
}


.drop {
	p:nth-child(2):first-letter { float: left; color: @green; font-size: 75px; line-height: 60px; padding-top: 4px; padding-right: 8px; padding-left: 3px; font-family: Georgia, serif; }
}


.check {
.mu-overlay (@baseline : 16px);
.type-check ();
}

.nowrap {
	white-space: nowrap;
}


//.fourteen ();
//.kiss-exam-type-scales-fifteen-gold ();
//.sixteen ();
//sixteen-over-twenty-five ();
//.sixteen-over-twenty-six ();
//.eighteen ();
.twenty ();

.site-title, h2, .brand, a {
	color: @green;
	
}



@font-face {
    font-family: 'fontesquesanscompregular';
    src: url('/wp-content/themes/story5/library/fonts/fontesque/fontesquesanscomp-webfont.eot');
    src: url('/wp-content/themes/story5/library/fonts/fontesque/fontesquesanscomp-webfont.eot?#iefix') format('embedded-opentype'),
         url('/wp-content/themes/story5/library/fonts/fontesque/fontesquesanscomp-webfont.woff') format('woff'),
         url('/wp-content/themes/story5/library/fonts/fontesque/fontesquesanscomp-webfont.ttf') format('truetype'),
         url('/wp-content/themes/story5/library/fonts/fontesque/fontesquesanscomp-webfont.svg#fontesquesanscompregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

h1,h2,h3, h4,

.fancy {
	font-family: 'fontesquesanscompregular';
	
}


h1,h2,h3, h4  {
	letter-spacing: 3px;
}


h4 {
	font-size: @base * 3;
	line-height: @base * 4;
	padding-bottom: @base * 2;
}

ul.site-title {
	max-width: 360px;
}

h1.site-title {	
	margin: 0;
	padding: 0;	
	line-height: 1;	
	float: right;
	  text-shadow: 
	      -1px -1px 0 @blue,
    1px -1px 0 @blue,
    -1px 1px 0 @blue,
    1px 1px 0 @blue;  
    -webkit-font-smoothing: antialiased; 
}




	h2.title-cat a {

		text-decoration: none;

	}


h2 {
	line-height: 40px;
	padding-bottom: @line / 2;
}



blockquote{
.kiss-obj-type-blockquote();

}

.cite, blockquote.center {
	  line-height: 32px;
        padding: 16px 32px;
        max-width: 400px;
        margin-left: auto;
        margin-right: auto;
        margin-top: (@base * 3) - 1px;
        margin-bottom: (@base * 3) - 1px;
        border-top: 1px solid gray;
        border-bottom: 1px solid gray;
        text-align: center;
}

cite {
	font-style: italic;
	&:before {
		content: "- ";
		float: left;
		padding-right: @base / 2;
	}
}


/* 
   Links
   ========================================================================== */

h2 a, h4 a {
	text-decoration: none;
}

a:hover {
	color: @blue;
	text-decoration: underline;

}

.a-trans, .a-trans:hover {
	color: #222;
	text-decoration: none;

}


/* ==========================================================================
   fonts and icons
   ========================================================================== */

//.font-face ();

.icon {
	font-family: 'icomoon';
	.icon ();
	color: @green;
}

.icon-right {
	padding-left: @base;
}

.icon.center {
	padding-left: @base;


}

.icon--full { // goes on a link
	background: @gold;
	color: @green;
	border-radius: 4px;
	line-height: @base * 4;
	padding:  @base;
	margin-right: @base * 2;
}

//.glphicons ();



/* ==========================================================================
   Lists
   ========================================================================== */
ol {
	 padding-left: @line * 2;
}


/*ul*/.article-list,
.list--article
 {
	padding-left: @line / 2;
	list-style: circle;
}

.list--compact {
	padding-top: @line;
	padding-left: @line ;
	line-height: 1;
	list-style-type:circle
}

.list-numbered {
	padding-left: @line ;
}

.stacked {
	.kiss-obj-lists-vertical ();
}

.nav {
	width: 100%;
	margin: 0;
}

nav ul li {
	margin-bottom: 0;
}


	.bordered  {

	width: 100%;


	li {
		margin-left: 0;
		

	}

	li a:hover {
		margin-left: 0;
	}

	a {
	overflow: hidden;
	padding-top: @base * 2 ;
	padding-bottom: ( @base * 2 ) - 1px;
	border-bottom: 1px solid @gold;
	font-size: 24px;
	line-height: 40px;
	border-bottom: 1px solid @gold;

	}

	a:hover
	 {
	color: white;
	}

	.icon {
		padding-right: @line;

	}

}

.list--inline {

	list-style-type: disc;
	padding-top: @base * 2;
	list-style-position: inside;

	& li {
		float: left;
		margin-left: @base;

	}


}

.social {
	overflow: hidden;
	background: lighten(@green, 30%);

	border-radius: 4px;
	padding: @base;
	.search {
		margin: 0;
	}
}



.social-icons-horiz {
	overflow: hidden;
	padding: 0;
	line-height: @base * 6;
	font-size: 30px;
	vertical-align: middle;
	
.icon {
	color: white;
	width: @base * 6;
	line-height: @base * 6;
	margin-bottom: @base * 2;
}	
.icon-facebook {
	background: #3D5A99;

}	

	

.icon-pinterest {

	background: #F61718;

}	


.icon-mail-send {
	background: @green;
}

.icon-twitter {
	background:#55ACEE;
}

.icon-googleplus {
	background: #D34836;
}

.icon-feed {
	background: red;
}

.icon-podcast {
	background: @blue ;
}
	
	a {
		
		padding-right:  ( @base * 3 );


	}
}

.rss {
	color: red;
}

.itunes {
	color: @blue;
}



.list-icons {
	span {
		font-size: 1em;
		padding-right: @base;
	}
}

.list--full-click {

	a, .img, img {
		line-height: 95px;
	}
}

.list--highlight {
	li:hover {
		background-color: rgb(221,221,221);
	}


	a:hover {
		text-decoration: underline;
	}

}


.media--list {


	img {
		height: 95px;
		display: block;
	}

	a:hover {
		background-color: rgb(221,221,221);
	}
li {
	border-bottom: 1px solid rgb(221,221,221);
	}
}

.inline a {
	line-height: @base;
}


/*list*/.example li {
	padding-right: @base;
}



.table {
	display: table;
}

.cell {
	vertical-align: top;
    display: table-cell;
    height: 100%;
}



h3.menu-title {

	margin: 0;
	padding-left: @base;
	font-size: 18px;
	line-height: 48px;
}

/* 
   Responsive sizes in header
   ========================================================================== */

h1.site-title {
	font-size: 40px;
	padding-bottom: @base; ;
	line-height: 1;
}



.strap {

	line-height: 1;
	color: @red;
	letter-spacing: 0.5px;
	
	
}	

.nav--header .sticker {
	height: 65px;

}


.fader {
	margin-right: @base / 2 ;
}

@media only screen and (max-width: 400px) {
.fader
		 {
			display: none;
		}


}	

		
	@media only screen and (max-width: 500px) {
		.beatrice
		 {
			display: none;
		}
}
	
@media only screen and (min-width: 620px) {
		
.nav--header .sticker {
	height: 100px;
	width: 100px;
}

h1.site-title {
	font-size: 56px;
}

.strap {
	left: 146px;
	top: 60px;
	font-size: 22px;
}

}

@media only screen and (min-width: 700px) {
		

h1.site-title {
	font-size: 80px;
}

.strap {
	left: 146px;
	top: 80px;
	font-size: 34px;

}

}







.list-border,
ul.border {
.kiss-obj-lists-stacked (
				 @border-top: 0px,
				 @border-bottom: 1px,
				 @padding-top: @base * 2, 
				 @padding-bottom: @base * 2 
				);

	position: relative;

	> li {
		border-color: rgb(221,221,221);

		}
}

ul.media a {
	//line-height: 100px;
}

ul.border--flush  li {
	border-top: 1px solid gray;
	padding: 0;
	img {
		max-height: 95px;
	}
  
  line-height: 95px;

}


ul.list-horiz{
	width: 100%;
	li {
		float: left;

	}
}


/* ==========================================================================
   carousel
   ========================================================================== */

.carousel {
	position: relative;
	overflow: hidden;
background: pink;
	width: 400px;
	height: 400px;

	ul {
		position: relative;
		width: 300%;
		list-style: none;
	}	
		li {
			clear: none;
			display: block;
			width: 33.33333%;
			float: left;
			height: 200px;
			text-align: center;
			height: 800px;
		}
}


/* ==========================================================================
   Navs
   ========================================================================== */

.lock {
	position: absolute;
	top: 0;
	left:0;
	bottom:0;
	right:0;
	height: 100%;
	margin: auto;
	overflow: hidden;
}


nav,.nav {

	.kiss-obj-lists-nav ();
//	margin-bottom: @line;
}

.nav--header {
 	padding: ( @line / 2 ) 0;
   position: relative;
   background: @gold;
   border-radius: 4px;
   margin-bottom: @base;

   @media only screen  and (min-width: 700px) {
   	padding: ( @base * 3 ) 0;
   }


}

.logo {
	padding-left: @line / 2;
}


/* 
   Sidebar
   ========================================================================== */




.table {
	display: table !important;   /* Allow the centering to work */
	margin: 0 auto;
}


.dropper {
	overflow: visible;
}

// this is where the top menu responds

.menu--group {
	width: 100%;
	position: relative;
	float: left;
	overflow: visible;



		color: @gold;

	//.kiss-obj-lists-ul-group (@color: @green, @radius: 0em);



	li {
		border: none;
		padding: 0;
		margin: 0;
			width: 20%;
		border-right: 1px solid @gold;
	}

	li:last-child {
			border-right: none;
	}

	.icon {
		color: @gold;

	}

	@media only screen and (max-width: 1100px) {
		.menu-title .icon {  // icon is 100% pushing title below it
			width: 100%;
		}

	}

	a {
		padding: ( @base - 1 ) @base * 2;
	
		background: lighten(@blue, 10%);

	}

	a:hover {
		background: @blue;
	}

	//.kiss-obj-nav-ul-dropdown-outer();

	h3.menu-title {
		border-bottom-color: transparent;
		color: @gold;
		font-size: 24px;
		line-height: 32px; 

	}



@media only screen and (max-width: 710px) {  
// at this point the title  disappear completely and we just have icons
	.icon-right,
	.carot,
	.title {
		display: none;
	

	}

	.menu-title .icon {
		padding-right: 0;
		text-align: center;
	}

}


	@media only screen and (max-width: 1000px) {
			h3.menu-title {
			font-size: 18px;
			line-height: 24px;
		}

	}

}


.drop  {
	position: static;
	z-index: 1000;

> ul {
	
	position: absolute;
	top: -1000%;
	left: -1000%;
	z-index: 1000;
	width: 100%;
	background: @blue;
	padding: @base 0 @base @line;


	li {
		width: 100%;
	
		padding-right: @line;
	
	}


	a {
		
		color: @gold;
		&:hover

		 {
			color: pink
		}
	}

	a:hover .icon {
		color: pink;
	}

}
}

.drop.active a {
	background: @blue;
	&:hover {
		background: lighten(@green,20%);

	}
}

.drop.active a.drop__title:hover {

	background: @blue;
}



.drop > ul.open {

	top: 100%;
	left: 0%;

}


a.original span, a.original .icon {
	color: @green;
	&:hover {
		color: pink;

	}
}

.fairytales span, a.fairytales .icon {
	color: @turq;
	&:hover {
		color: white;
	}
}

.classic span, a.classic .icon {
	color: @light-blue;
	&:hover {
		color: white;
	}
}

.edu span, a.edu .icon {
	color: orange;
		&:hover {
		color: white;
	}
}

.myths span, a.myths .icon {
	color: @gray;
		&:hover {
		color: white;
	}
}

.music span, a.music .icon {
	color: @gold;
		&:hover {
		color: white;
	}
}

.junior span, a.junior .icon {
	color: @red;
		&:hover {
		color: white;
	}
}


body {
	position: relative;
}

nav {
	position: relative;
	
}

 
.overlay:after{
	 content: "";
  display: block;
  position: absolute; /* could also be absolute */
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 11;
  background-color: rgba(0,0,0,0);
  cursor: pointer;

}


/* ul */.nav-stacked {
	.kiss-obj-nav-ul-vertical ();
}

.list-neg {
	background: #222;
	border-color: white;
	a,
	h3 {
		color: white;
	}
}

.list--linear > li {
	float: left;
}

.bones_page_navi,
.nav--group {
	.kiss-obj-lists-ul-group (@color: gray, @radius: 5px);

	& > li:hover {
		background: rgb(230,230,230);

	}
}

.nav--group--default > li a{
	padding: ( @base * 2 ) - 1px;
}


.nav--group--bar > li a{

	padding: ( ( @base / 2 ) - 1px )( @line * 2 );
}


.nav--group--pages > li a {
	padding: ( @base - 1px )( @base * 2  );
}

.bones_page_navi > li a {
	padding: ( @base - 1px )( @base * 4  );


}

.bpn-current a {
	color: @gold;
}


//centered list
ul.centered,
.page-navigation {
	display: table;
	margin: auto;
	margin-bottom: @line;
	> ul li {
		display: inline;
	}

}


.nav--group--bar > li a {


}

/* ==========================================================================
   Mods
   ========================================================================== */


.archives__item {
	margin-bottom: @line;
	padding-top: @line - 1px;
	border-top: 1px solid gray;

}


.box,
.note,
.notice,
.notify,
.pullout,
.card,
pre 
{
.kiss-obj-mods-box (@space: @base * 3, @border: 1px);
}

.note-tiny {
	.kiss-obj-mods-box (@space: @base * 2, @border: 1px);
	margin-bottom: @base * 2;
}


.box {
	background: white;
}

.notice {
	border-color: @green;
	border-radius: 0.3em;
	margin-top: 0;
}




.mod header,
.mod footer,
.pullout,
.notify {
	background: rgb(245,242,240);
}

.pullout {
	border-left: 5px solid @green;
}

pre {
	overflow: scroll;
	background: rgb(245,242,240);
	font-family: Consolas, Monaco, 'Andale Mono', monospace;
	font-size: 14px;
	line-height: @base * 3;
}

.modtwo,
.card {
	box-shadow: rgba(0, 0, 0, 0.2) 0px 1px 4px 0px;
	border-radius: 0.3em;
	margin-right: @line;
	width: auto;
}

.panel.modthree .modthree {
	border-bottom-color: rgb( 221,221,221 ) ;
	border-bottom-left-radius: 0.3em;
	border-bottom-right-radius: 0.3em;

}

.modthree {
	with: 100%;
	max-width: 600px;
	margin: auto;

}

.panel form.panel__body {
		padding-top: @line;
		padding-bottom: @line;
	}

.panel {
	.kiss-obj-mods-panel (@vert-space: @base, @hor-space: (@base * 3), @border: 1px);

}

.badge,
.label {
	  display: inline;
  padding: .2em .6em .2em;
  font-size: 75%;
  font-weight: bold;
  line-height: 1;
  color: white;
  background: @green;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: .25em;
  	position: relative;
	top: -0.1em;
}


.blob,
 .badge {
 	padding: 0.2em 0.1;
 	font-weight: normal;
 	 border-radius: 1em;
 }

.blob {
	padding: 1em;
	border-radius: 2em;
	background:  #D0011B;
	color: white;
}



.thumb {
	padding: 0;
	width: 250px;
	margin: auto;
	
	img {
		max-width: 100%;
	}

	figcaption {
		padding: @base * 3;
	}
}




.media {


	.kiss-obj-media-mediaobj (@space: @line);

}

.media--r {

@media only screen and (min-width: 570px) {	
	.kiss-obj-media-mediaobj (@space: @line);
}
}


.media--port img,
.media--landscape img {
	margin-right: @line;
	margin-bottom: @line;
}




@media only screen and (min-width: 850px) {
	.media--port {
		.kiss-obj-media-mediaobj (@space: @line);

	}

}

@media only screen and (min-width: 720px) {
	.media--landscape {
		.kiss-obj-media-mediaobj (@space: @line);

	}

}


.media.table {
	.table ();

}


 th {
	text-align: left;
	font-weight: normal;
	vertical-align: middle;
	overflow: hidden;

	img {
		 max-width: none; // chrome shrinks images in table cells, but is this responsive?
		display: inline-block;
		height: 100px;
		padding-right: @base * 2;
	}
}


img {
	max-width: 100%;
}

img.icon {
	float: left
}


/* ==========================================================================
   Forms
   ========================================================================== */
label,
textarea,
input {
	font-size: 1em;
	line-height: (@base * 4) -2px;
}

.checkbox  {

margin-bottom: @base;
label {
    display: block;
   
}
input {
    margin-right: @base;
   
    *overflow: hidden;
}

}


.btn {
	.kiss-obj-buttons-base ();
	
}

.btn.round {
	background: @gold;
	padding: @base;
	border-radius: 50%;
	-webkit-box-shadow: 1px 1px 4px -2px #9C9C9C, 2px 2px 3px  #1F1F1F ;
 box-shadow: 1px 1px 4px -2px #9C9C9C , 2px 2px 3px  #1F1F1F;;
	position: relative;
	bottom: @base;
	.icon {
		line-height: @base * 6;
		font-size: 32px;
		padding: 0 @base;
		margin: 0;

	}
}

.btn.full {
	width: 100%;
	max-width: 500px;
	margin: auto;
}

.btn.default {
	line-height: @base* 6;
	padding: 0 @line;
	background: @green;
	color: white;
	border-radius: 8px;
	.icon {
		color: white;
	}

}






.btn.default:hover {
	background: darken(@green, 10%);
}

.btn.default:active{
	background: darken(@green, 10%);
	color: @blue;
}

.input--text {
	.kiss-obj-forms-text-input (@space: 8px, @border: 1px);
	font-size: 16px;
	line-height: @line;
	margin-bottom: @line / 2;
	border-color: @green;
	border-radius: 4px;
	height: @base * 4;
}

.input-full-width {
	width: 100%;
}

#cse-search-box {
	height: @base * 4;
}


label {
	font-weight: 400;
	font-size: 0.75em;
}

.form--inline {
	.kiss-obj-forms-inputs-inline (@spacing: 1em);
}

.form--stacked {
	.kiss-obj-forms-inputs-stacked ();
}


.form--aligned {
	.kiss-obj-forms-inputs-aligned ( @input-width: 90%;)
}


textarea.comment {
	width: 100%;
	height: ( @base * 25 ) - 2px;
	border: 1px solid gray;
	padding: @base;

}

.button-group {
	padding: 0;

	button.default.active {
	color: rgba(0, 0, 0, 0.6);
    -moz-box-shadow:    inset 0 0 12px rgba(0, 0, 0, 0.6);
   -webkit-box-shadow: inset 0 0 12px rgba(0, 0, 0, 0.6);
   box-shadow:         inset 0 0 12px rgba(0, 0, 0, 0.6);

		
	}



	button.default {
	border-radius: 0;
	border: 0;
	padding: @base * 2;
	line-height: @base * 3;


	&:first-child {
	border-top-left-radius: 8px;
	border-bottom-left-radius: 8px;
	}

	&:last-child {
	border-top-right-radius: 8px;
	border-bottom-right-radius: 8px;
	margin-left: -3px;
	}

}
}

#submit input[type=submit] {
	background: @blue;
}


input[type=number] {
	line-height: @line;
	width: @line * 5;
	padding-left: @base;
}


#cse-search-box input[type=submit] {
	background: @green;
	height: @base * 4;
	padding-left: @base;
	padding-right: @base;
	border-color: @green;
	 font-family: 'fontesquesanscompregular';


}

/* ==========================================================================
   gradients
   ========================================================================== */


.nav--group.gradient--bam > li a,
.gradient--bam {
	.gradient-bam ( @background:  rgba(98,186,236,0.8) );
	border-color: #222;	

	
}

.nav--group.gradient--bam > li a:hover {
	.gradient-bam ( @background:  rgba(98,186,236,1) );
}

.nav--group.soft li {

	  &:first-child > a {
         
            border-top-left-radius: 2em;
            border-bottom-left-radius: 2em;
        }

        &:last-child > a {
            border-top-right-radius: 2em;
            border-bottom-right-radius: 2em;
        }

}


/* 
   Page layouts sub sections
   ========================================================================== */



/* ==========================================================================
   images
   ========================================================================== */
.thumb {
	width: 100px;
	height: 100px;
}

img {
	 max-width:100% !important;
    height:auto;
    display:block;
}

.size-medium {
	float: left;
	margin: 0 24px 24px 0;
}


.img--left  {
	float: left;
	padding-right: @line;
	padding-bottom: @base;
}



audio {
   margin-bottom: @line / 2;
    width: 100%;
    max-width: 500px;
}


/* 
   Audio Player
   ========================================================================== */

.audio-container {
	max-width: 500px;
	margin-bottom: @line / 2;
	margin-right: @base * 2;
	.info {
		display: block;
		width: 100%;
		text-align: right;
	}

	.audioLoading {
		font-style: italic;
		margin-right: @base;

	}
}

.audioPlayer {
	 width: 100%;
    max-width: 500px;
	height: @base * 7;
	background: #424242;
	background: #222;
	overflow: hidden;
	margin-bottom: @base;
	border-radius: 5px;
	padding-top: @base;
	padding-left: @line / 4;
	padding-right: @line / 4;

	li {
		margin-right: @base;
		overflow: visible;
	}
	



	.time {
		margin-right: @base;
		margin-left: @base;
		color: @gold;
	}

}






.audioPlayer .icon, 
.audioPlayer span,
.audioPalayer b {
color: @green;
	line-height: @base * 5;

}

.audioPlayer .flex {
	padding: 8px 0;
	position: relative;

}

.audioPlayer .icon {
	font-size: @line;
	width: @line;
}


.buffer {
	width: 100%;
	overflow: hidden;
	position: absolute;
	margin-top: 8px;
	height: 12px;
	//background: #CDC9C9;
	border-radius: 5px;
	//background: white;
	
}



input.audio-bar {
 outline: 0;
  -webkit-appearance: none !important;
  width: 100%;
  height: @base ;
  background-color: @gold;
  border: 1px solid darken(@gold, 4%);
   border-radius: @base;
  margin: auto;

  	position: relative;
	bottom: @line / 8;



	&::-webkit-slider-thumb {
		 position: relative;		
		bottom: 12px;
	
		}

	&::-moz-range-thumb {	
		position: relative;		
		bottom: 6px;
	}	

 }

.audio-bar::-webkit-slider-runnable-track {
	width: 100%;
  height: @base - 6px;
	 border-radius: @base;
  margin: auto;
 
  	position: relative;
 
}


::-moz-range-track {
	background: transparent;
	border: none;
	outline: 0;
	//background: @gold;

	&:focus {
	border: none;
	outline: 0;
	}
}

.audio-bar::-moz-range-thumb {

width: @base * 3;
  height: @base * 2;
  background: @green;
  border-radius: @base;
  box-shadow: 0px 0px 3px darken(@green, 15%);

  position: relative;
  bottom: 6px;

}

::-moz-range-thumb {
	background: @green;
}


 ::-webkit-slider-thumb {
  -webkit-appearance: none !important ; 
  width: @base * 3;
  height: @base * 3;
  background: @green;
  box-shadow: 0px 0px 3px darken(@green, 15%);
border-radius: 50%;
 opacity: 0.8;
}

//volume 
.icon-volume {
	min-width: 34px;
}

@media only screen and (max-width: 460px) {
	.volume--r {
		display: none;
	}
}	

input.range-volume {
	 -webkit-appearance: none !important;
	max-width: 100px;
	margin: 0  @base;
	height: @base ;
		background: @gold;
		border-radius: 4px;
		position: relative;
		top: @base / 2;
	
&:focus {
	outline: 0;
}

	
		
	}	
	
::-ms-fill-lower {
    background: transparent;
}
::-ms-fill-upper {
    background: transparent;
}

::-ms-thumb {
    background: @green;
}

::-ms-track {
    color: transparent;
    position: absolute;
    top: @line;
}


.fixed-bottom {
	background: #f5f5f5;
	width: 100%;
		padding: @base;
	.audioPlayer {
		margin: 0 auto;
		background: #f5f5f5;
	}
}



.download-info {
	font-size: 24px;
	margin-left: @line;
	position: relative;
	top: @line;

}

.tooltip {
	display:none;
	position:absolute;
	border:1px solid #333;
	background-color:@gold;
	border-radius:5px;
	padding:10px;
	color:@green;
}

 .rangeslider {
 	position: relative;
 	background: @gold;
 	width: 100%;
 	height: @line / 2;

 }
   .rangeslider__fill {

   }
  .rangeslider__handle {
  	background: @green;
 	width: @line;
 	height: @line;


  }


.rangeslider,
.rangeslider__fill {
  background: #e6e6e6;
  display: block;
  height: 20px;
  width: 100%;
  -webkit-box-shadow: 0px 2px 2px rgba(255, 255, 255, 0.25), inset 0px 1px 3px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0px 2px 2px rgba(255, 255, 255, 0.25), inset 0px 1px 3px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 2px 2px rgba(255, 255, 255, 0.25), inset 0px 1px 3px rgba(0, 0, 0, 0.3);
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  border-radius: 10px;
}

.rangeslider {
  position: relative;
}

.rangeslider--disabled {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=40);
  opacity: 0.4;
}

.rangeslider__fill {
  background: #00ff00;
  position: absolute;
  top: 0;
}

.rangeslider__handle {
  background: white;
  border: 1px solid #ccc;
  cursor: pointer;
  display: inline-block;
  width: 40px;
  height: 40px;
  position: absolute;
  top: -10px;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, rgba(255, 255, 255, 0)), color-stop(100%, rgba(0, 0, 0, 0.1)));
  background-image: -webkit-linear-gradient(rgba(255, 255, 255, 0), rgba(0, 0, 0, 0.1));
  background-image: -moz-linear-gradient(rgba(255, 255, 255, 0), rgba(0, 0, 0, 0.1));
  background-image: -o-linear-gradient(rgba(255, 255, 255, 0), rgba(0, 0, 0, 0.1));
  background-image: linear-gradient(rgba(255, 255, 255, 0), rgba(0, 0, 0, 0.1));
  -webkit-box-shadow: 0 0 8px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0 0 8px rgba(0, 0, 0, 0.3);
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.3);
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
}
.rangeslider__handle:after {
  content: "";
  display: block;
  width: 18px;
  height: 18px;
  margin: auto;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, rgba(0, 0, 0, 0.13)), color-stop(100%, rgba(255, 255, 255, 0)));
  background-image: -webkit-linear-gradient(rgba(0, 0, 0, 0.13), rgba(255, 255, 255, 0));
  background-image: -moz-linear-gradient(rgba(0, 0, 0, 0.13), rgba(255, 255, 255, 0));
  background-image: -o-linear-gradient(rgba(0, 0, 0, 0.13), rgba(255, 255, 255, 0));
  background-image: linear-gradient(rgba(0, 0, 0, 0.13), rgba(255, 255, 255, 0));
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
}
.rangeslider__handle:active {
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, rgba(0, 0, 0, 0.1)), color-stop(100%, rgba(0, 0, 0, 0.12)));
  background-image: -webkit-linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.12));
  background-image: -moz-linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.12));
  background-image: -o-linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.12));
  background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.12));
}

input[type="range"]:focus + .rangeslider .rangeslider__handle {
  -webkit-box-shadow: 0 0 8px rgba(255, 0, 255, 0.9);
  -moz-box-shadow: 0 0 8px rgba(255, 0, 255, 0.9);
  box-shadow: 0 0 8px rgba(255, 0, 255, 0.9);
}

 